* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    background: url(/images/pattern-background-desktop.svg) no-repeat;
    background-color: hsl(225, 100%, 94%);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.main_container {
    height: 80%;
    width: 25%; 
    background-color: #fff;
    margin: 40px auto;
    border-radius: 25px;
    padding-bottom: 10px;
}
.main_container img {
    width: 100%;
    height: auto;
    /* PLEASE SEE IF YOU CAN TRY SOMETHING ELSE */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.content_container {
    width: 80%;
    margin: 40px auto;
}
.content_container .main_text {
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.content_container .sub_text {
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
}
.plan_container {
    background-color: hsl(225, 100%, 98%);
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.plan_container a  {
    align-self: center;
    text-align: center;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    font-size: 12px;
}
.plan_container a:hover {
    color: hsl(224, 23%, 55%);
}
.plan_container img {
    width: 35px;
    height: 35px;
}

/*ANOTHER ONE*/
input {
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 25px;
}

input:hover {
    background-color: hsl(224, 23%, 55%);
    cursor: pointer;
}

.cancel {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: hsl(224, 23%, 55%);
    text-align: center;
}
.content_container a {
    text-align: center;
    font-weight: 800;
}
.content_container a:hover {
    color: hsl(223, 47%, 23%);
}